[submodule "boringssl"]
	path = boringssl
	url = https://github.com/i-sout/boringssl.git

[submodule "pyca.cryptography"]
	path = pyca-cryptography
	url = https://github.com/i-sout/cryptography.git

[submodule "krb5"]
	path = krb5
	url = https://github.com/i-sout/krb5.git
